.wrapper{
	height:600px;
	background:#F3D250;
}
.arrow{
	position:absolute;
	top:50px;
	left:50%;
	
	-webkit-animation: bounce 2s infinite ease-in-out;
}
.arrow a:hover{
	 color:#fdfc71
}
.arrow i{
	font-size:18px;
	border:1px solid ;
    border-radius:50%;
	padding:15px 15px;
}
@-webkit-keyframes bounce {
	0%, 20%, 60%, 100%  { -ms-transform: translateX(-50%) translateY(0); }
	0%, 20%, 60%, 100%  { -o-transform: translateX(-50%) translateY(0); }
	0%, 20%, 60%, 100%  { -moz-transform: translateX(-50%) translateY(0); }
	0%, 20%, 60%, 100%  { -webkit-transform: translateX(-50%) translateY(0); }
    40%  { -ms-transform:translateX(-50%)  translateY(-20px); }
    40%  { -o-transform: translateX(-50%) translateY(-20px); }
	40%  { -moz-transform:translateX(-50%)  translateY(-20px); }
	40%  { -webkit-transform:translateX(-50%)  translateY(-20px); }
	80% 	 { -ms-transform: translateX(-50%) translateY(-10px); }
	80%  { -o-transform:translateX(-50%)  translateY(-10px); }
	80%  { -moz-transform: translateX(-50%) translateY(-10px); }
	80%  { -webkit-transform: translateX(-50%) translateY(-10px); }
}
/**/
.arrow2{
	position:absolute;
	top:150px;
	left:50px;
	
	/*-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);*/
	/*过渡效果*/
	/*-webkit-transition: -webkit-transform 2s;
	-moz-transition: -moz-transform 2s;
	transition: transform 2s;*/
	-webkit-animation: bounce1 2s infinite ease-in-out;
}
.arrow2 i{
	font-size:18px;
	border:1px solid ;
    border-radius:50%;
	padding:15px 15px;
}
@-webkit-keyframes bounce1 {
	0%, 50%, 100%  { -webkit-transform: translateY(0); }
    25%,75%  { -webkit-transform: translateY(-15px); }
}