.ta-r {
text-align: right;
}
.ta-c {
text-align: center;
}
/*.no-border{
	border: none;
	box-shadow: none;
}*/
/* */
@media screen and (min-width:240px) {
    html,body,button,input,select,textarea {
        font-size: 0.563rem/*9px*/
    }
}

@media screen and (min-width:320px) {
    html,body,button,input,select,textarea {
        /*font-size: 0.75rem;*/  /*12px*/
       font-size: 0.875rem;
    }
}
@media screen and (min-width:360px) {
    html,body,button,input,select,textarea {
        /*font-size: 0.75rem;*//*12px*/
       font-size: 0.875rem;
    }
}
@media screen and (min-width:375px) {
    html, body, button, input, select, textarea {
        font-size:1rem/*16px*/
    }
}

/*@media screen and (min-width:380px) {
    html,body,button,input,select,textarea {
        font-size: 0.875rem
    }
}*/

@media screen and (min-width:420px) {
    html,body,button,input,select,textarea {
        font-size: 1rem/*16px*/
    }
}

@media screen and (min-width:450px) {
    html,body,button,input,select,textarea {
        font-size: 1.063rem/*17px*/
    }
}

@media screen and (min-width:480px) {
    html,body,button,input,select,textarea {
        font-size: 1.125rem/*18px*/
    }
}

@media screen and (min-width:540px) {
    html,body,button,input,select,textarea {
        font-size: 1.25rem/*20px*/
    }
}

@media screen and (min-width:600px) {
    html,body,button,input,select,textarea {
        /*font-size: 1.375rem;*/ /*22px*/
    }
}

@media screen and (min-width:640px) {
    html,body,button,input,select,textarea {
        /*font-size: 1.5rem;*/ /*24px*/
       
       font-size: 1rem
    }
}
@media screen and (min-width:992px) {
	html,body,button,input,select,textarea {
       font-size: 1rem;
    }
}